<div class = "home-container">
  <h1 class = "text-center ">BudgetApp</h1>
  <div class="sign-btn-wrapper text-center d-flex flex-column">
    <button class = 'login-btn'>
      <%= link_to "LOG IN", new_user_session_path, id: "loginBtn" %>
    </button>
    <button class = 'signup-btn'>
      <%= link_to "SIGN UP", new_user_registration_path, id: "signupBtn" %>
    </button>
  </div>
</div>