<div class='container flex-column'>
  <div class="logo">
    <h1>BudgetPlanner</h1>
  </div>

  <div class='buttons flex-column'>
    <%= link_to 'LOG IN', new_user_session_path, class:"login" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class:"link" %>
  </div>
</div>